<p id="notice"><%= notice %></p>
<div class="show">
	<h1 class="top">カレンダー（詳細）</h1>
	<br>
	<p>
		<div class="title">
			<strong>＜タイトル＞</strong><br>
			<%= @blog.title %>
		</div>
	</p>

	<p>
		<div class="content">
			<strong>＜内容＞</strong><br>
			<%= @blog.content %>
		</div>
	</p>

	<p>
		<div class="time">
			<strong>＜日時＞</strong><br>
			<%= @blog.start_time.strftime("%m月%d日") %>
		</div>
	</p>

	<%= link_to '編集', edit_blog_path(@blog) %>
	<%= link_to '消去',blog_path(@blog.id), method: :delete, data: { confirm: '本当に?' } %>
	<%= link_to '戻る', blogs_path %>
</div>